= form_tag products_url, :method => :get do
  = text_field_tag :keywords, params[:keywords] ? params[:keywords] : "revolution is..", :class => 'searchbar', :onfocus => "if (this.value == 'revolution is..') {this.value=''};"
  = submit_tag t(:search), :name => nil, :class => 'search-btn'
